.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 83px);
    overflow: hidden;
}

.form-wrapper {
    flex-shrink: 0;
    border: 2px solid inherit;
    padding: 60px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 30px;
}

.MuiFormLabel-asterisk {
    display: none !important;
}

.input:-internal-autofill-selected {
    background-color: transparent !important;
}